h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

td, th {
    padding-left: 0.5rem;
    border: solid 1px;
    min-width: 110px;
}
td {
    text-align: center;
}

table {
    border: solid 1px;

}

.table {
    border: solid 1px;
    margin-bottom: 0;
    text-align: center;
}
.input {
    width: 90px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
